/.idea/$PRODUCT_WORKSPACE_FILE$
/out/production/isPalindrome/.idea/$PRODUCT_WORKSPACE_FILE$
/out/production/isPalindrome/charArrayStrategy.class
/.idea/google-java-format.xml
/out/production/isPalindrome/.idea/google-java-format.xml
/out/production/isPalindrome/isPalindrome.iml
/isPalindrome.iml
/out/production/isPalindrome/META-INF/isPalindrome.kotlin_module
/out/production/isPalindrome/mathOnlyStrategy.class
/.idea/misc.xml
/out/production/isPalindrome/.idea/misc.xml
/.idea/modules.xml
/out/production/isPalindrome/.idea/modules.xml
/out/production/isPalindrome/palindromeInteger.class
/out/production/isPalindrome/SolutionStrategy.class
/out/production/isPalindrome/stringBuilderReverseStrategy.class
/.idea/uiDesigner.xml
/out/production/isPalindrome/.idea/uiDesigner.xml
/.idea/vcs.xml
/out/production/isPalindrome/.idea/vcs.xml
/out/production/isPalindrome/.idea/workspace.xml
/.idea/workspace.xml
